@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Freehand&family=Fuzzy+Bubbles:wght@400;700&family=Lobster&family=Raleway&family=Source+Code+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
}

.navbar {
  /* background-image: url(./imagenes/textura-tablas.jpg);
  background-size: 65%; */
  background-color: rgb(38, 21, 136);
}

.navbar-brand {
  color: white;
  font-family: "Lobster", cursive;
  font-size: 28px;
  text-shadow: 3px 3px 10px rgb(0, 0, 0);
}

.navbar-brand:hover {
  text-shadow: 3px 3px 5px orangered;
  transform: scale(1.05);
  transition: 1.7s;
}

.navbar-collapse {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 20px;
}

.jumbotron {
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./imagenes/fondoContinentesMadera.jpg);
  background-position: center;
  background-size: cover;
  /* height: 40vh; */
  color: yellow;
  text-shadow: 1px 1px 5px black;
  font-family: "Raleway", sans-serif;
  border-top: 6px solid black;
  border-bottom: 6px solid black;
  border-radius: 0;
}

h2 {
  margin: 0;
  box-sizing: border-box;
  padding: 10px;
  /* background-color: black; */
  background-color: rgb(38, 21, 136);
  color: yellow;
  /* text-decoration: underline; */
  text-align: center;
  font-family: "Raleway", sans-serif;
  text-shadow: 1px 1px 6px black;
}

.subtindex {
  margin: 8px 0 8px 0;
}

#h2esp {
  margin-top: 0;
}

#carouselExampleCaptions1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#carouselExampleCaptions2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#carouselExampleCaptions3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#carouselExampleCaptions4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imggg {
  height: 80vh;
  width: 75vw;
  box-sizing: border-box;
  /* border-bottom: 5px groove rgba(255, 255, 255, 0.705); */
  /* background-image: url(./imagenes/españa1.jpg); */
  /* background-size: cover;
  background-position: center;
  box-sizing: border-box; */
}

.carousel-caption {
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 3px rgb(0, 0, 0);
  font-family: "Fuzzy Bubbles", cursive;
  font-weight: bold;
}

.img1 {
  height: 80vh;
  width: 75vw;
  background-image: url(./imagenes/españa1.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  border: 5px solid yellow;
  /* border: 5px groove rgba(255, 255, 255, 0.705); */
}

.img2 {
  height: 80vh;
  width: 75vw;
  background-image: url(./imagenes/españa3.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  border: 5px solid yellow;
  /* border: 5px groove rgba(255, 255, 255, 0.705); */
}

.img3 {
  height: 80vh;
  width: 75vw;
  background-image: url(./imagenes/españa5.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  border: 5px solid yellow;
  /* border: 5px groove rgba(255, 255, 255, 0.705); */
}

.img4 {
  height: 80vh;
  width: 75vw;
  background-image: url(./imagenes/españa7.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  border: 5px solid yellow;
  /* border: 5px groove rgba(255, 255, 255, 0.705); */
}

.img5 {
  height: 80vh;
  width: 75vw;
  background-image: url(./imagenes/portugal1.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  border: 5px solid yellow;
  /* border: 5px groove rgba(255, 255, 255, 0.705); */
}

.img6 {
  height: 80vh;
  width: 75vw;
  background-image: url(./imagenes/portugal2.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  border: 5px solid yellow;
  /* border: 5px groove rgba(255, 255, 255, 0.705); */
}

.img7 {
  height: 80vh;
  width: 75vw;
  background-image: url(./imagenes/portugal4.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  border: 5px solid yellow;
  /* border: 5px groove rgba(255, 255, 255, 0.705); */
}

.img8 {
  height: 80vh;
  width: 75vw;
  background-image: url(./imagenes/portugal7.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  border: 5px solid yellow;
  /* border: 5px groove rgba(255, 255, 255, 0.705); */
}

.img9 {
  height: 80vh;
  width: 75vw;
  background-image: url(./imagenes/andorra2.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  border: 5px solid yellow;
  /* border: 5px groove rgba(255, 255, 255, 0.705); */
}

.img10 {
  height: 80vh;
  width: 75vw;
  background-image: url(./imagenes/andorra3.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  border: 5px solid yellow;
  /* border: 5px groove rgba(255, 255, 255, 0.705); */
}

.img11 {
  height: 80vh;
  width: 75vw;
  background-image: url(./imagenes/andorra5.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  border: 5px solid yellow;
  /* border: 5px groove rgba(255, 255, 255, 0.705); */
}

.img12 {
  height: 80vh;
  width: 75vw;
  background-image: url(./imagenes/andorra6.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  border: 5px solid yellow;
  /* border: 5px groove rgba(255, 255, 255, 0.705); */
}

.img13 {
  height: 80vh;
  width: 75vw;
  background-image: url(./imagenes/irlanda4.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  border: 5px solid yellow;
  /* border: 5px groove rgba(255, 255, 255, 0.705); */
}

.img14 {
  height: 80vh;
  width: 75vw;
  background-image: url(./imagenes/irlanda5.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  border: 5px solid yellow;
  /* border: 5px groove rgba(255, 255, 255, 0.705); */
}

.img15 {
  height: 80vh;
  width: 75vw;
  background-image: url(./imagenes/irlanda6.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  border: 5px solid yellow;
  /* border: 5px groove rgba(255, 255, 255, 0.705); */
}

.img16 {
  height: 80vh;
  width: 75vw;
  background-image: url(./imagenes/irlanda8.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  border: 5px solid yellow;
  /* border: 5px groove rgba(255, 255, 255, 0.705); */
}

.publi1 {
  margin-top: 15px;
  height: 150px;
  border: 5px solid rgb(255, 255, 255);
  background-image: url(./imagenes/textura-tablas.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: rgb(224, 224, 3);
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

.publi2 {
  margin-top: 15px;
  height: 150px;
  border: 5px solid rgb(255, 255, 255);
  background-image: url(./imagenes/textura-tablas.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: rgb(224, 224, 3);
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

.publi3 {
  margin-top: 15px;
  box-sizing: border-box;
  height: 150px;
  padding: 15px;
  border: 5px solid rgb(255, 255, 255);
  background-image: url(./imagenes/fondo-geom.png);
  background-position: center;
  background-size: cover;
  color: blue;
  text-shadow: 0 0 3px rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

.rrss a {
  color: rgb(0, 0, 0);
  font-size: 22px;
  text-shadow: 1px 1px 5px rgb(255, 255, 255);
}

.rrss a:hover {
  color: yellow;
  text-shadow: 1px 1px 5px black;
  transform: scale(1.05);
  transition: 1s;
  font-size: 22px;
}

.footer {
  border-top: solid 4px rgb(255, 255, 255);
  margin-top: 20px;
  box-sizing: border-box;
  padding: 18px;
  height: 80px;
  width: 100vw;
  background-color: rgb(38, 21, 136);
  text-align: center;
  font-size: 22px;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: "Raleway", sans-serif;
  color: rgba(255, 255, 255, 0.849);
}

body {
  background-color: rgba(0, 0, 0, 0.925);
}

.esp {
  border-top: 18px rgb(255, 255, 255) double;
}

.cright {
  margin: 0;
  height: 290px;
  background-color: yellow;
  font-family: "Raleway", sans-serif;
  text-align: justify;
  font-size: 16px;
  box-sizing: border-box;
  padding: 15px;
}

h4 {
  text-align: center;
  font-weight: bold;
}

/* .cleft{
    margin: 0;
} */
.cl1 {
  background-image: url(./imagenes/españa1.jpg);
  height: 290px;
  background-size: cover;
  background-position: center;
}

.cl2 {
  background-image: url(./imagenes/portugal1.jpg);
  height: 290px;
  background-size: cover;
  background-position: center;
}

.cl3 {
  background-image: url(./imagenes/andorra2.jpg);
  height: 290px;
  background-size: cover;
  background-position: center;
}

.cl4 {
  background-image: url(./imagenes/irlanda2.jpg);
  height: 290px;
  background-size: cover;
  background-position: center;
}

.nos {
  height: 300px;
  border: 3px solid yellow;
}

.nos p {
  font-family: "Raleway", sans-serif;
  text-align: justify;
  font-size: 15px;
  box-sizing: border-box;
  padding: 16px;
  /* color: rgba(192, 192, 43, 0.904); */
  color: yellow;
}

.nos1 {
  background-image: url(./imagenes/ciudad2.jpg);
  background-size: cover;
  background-position: center;
}

.nos3 {
  background-image: url(./imagenes/montaña.jpg);
  background-size: cover;
  background-position: center;
}

.nos5 {
  background-image: url(./imagenes/playa.jpg);
  background-size: cover;
  background-position: center;
}

.nleft1 {
  background-image: url(./imagenes/pasaporte.png);
  background-size: contain;
  background-position: center;
}

.nleft2 {
  background-image: url(./imagenes/covid.png);
  background-size: cover;
  background-position: top center;
}

.nleft3 {
  background-image: url(./imagenes/CV.png);
  background-size: contain;
  background-position: center;
}

.nleft4 {
  background-image: url(./imagenes/libros2.png);
  background-size: contain;
  background-position: center;
}

.nleft {
  height: 240px;
  border: 3px solid white;
}

.nright {
  height: 240px;
  border: 3px solid white;
  font-family: "Raleway", sans-serif;
  text-align: justify;
  font-size: 15px;
  box-sizing: border-box;
  padding: 18px;
  /* color: rgba(192, 192, 43, 0.904); */
  color: yellow;
}

h5 {
  text-align: start;
}

.novedades {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./imagenes/fondoMapaCamara.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  padding: 20px;
  border: 5px solid yellow;
}

.nos2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 0.3)), url(./imagenes/fondoMapaItalia.jpg);
  background-size: cover;
  background-position: center;
}

.nos4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 0.3)), url(./imagenes/fondoMapaItalia.jpg);
  background-size: cover;
  background-position: center;
}

.nos6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 0.3)), url(./imagenes/fondoMapaItalia.jpg);
  background-size: cover;
  background-position: center;
}

.contacto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./imagenes/fondoMapas.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  padding: 20px;
  color: yellow;
  font-family: "Raleway", sans-serif;
  border: 5px solid yellow;
}

iframe {
  height: auto;
  width: auto;
}

/* .formulario{
    height: 80%;
    width: 80%;
} */
#textArea {
  max-height: 140px;
}

.formulario {
  border: 3.5px solid yellow;
  box-sizing: border-box;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mapa {
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  position: relative;
  padding-top: 30.25%;
  padding-bottom: 60.25%;
  height: 0;
  overflow: hidden;
  border: 3.5px solid yellow;
}

.mapa iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
  .imggg {
    height: 67vh;
    width: 80vw;
  }
  .imag {
    height: 67vh;
    width: 80vw;
  }
}
@media only screen and (max-width: 480px) {
  .imggg {
    height: 55vh;
    width: 75vw;
  }
  .imag {
    height: 55vh;
    width: 75vw;
  }
}
@media only screen and (max-width: 410px) {
  .imggg {
    height: 50vh;
    width: 85vw;
  }
  .imag {
    height: 50vh;
    width: 85vw;
  }
}

/*# sourceMappingURL=estilos.css.map */
